
body{
  background-color: #02010a;
  font-family: 'Dancing Script';

  animation: 2s slide-up;
}

header {
background-color: #5b7989;
border-radius: 10px 10px 0px 0px;
width: 100%;
margin-bottom: 0px;
padding-bottom: 0px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;

}

header h1{
  text-align: left;
  color:#FFF;
  text-shadow: 2px 2px #02010a;
  float: left;
  margin-left: 5px;
}

header nav li{
  color:#FFF;
  float: right;
  padding: 7px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  font-size: 23px;
  margin-right: 5px;
}

nav ul li a{
  text-decoration: none;
}

a:link{
  color: white;
}
a:visited{
  color: white;
}


.imagen-central{
  background-color: #82c3a6;
  width: 100%;
}

.imagen-central img{
  display: block;
  margin: auto;
  box-shadow: 2px 2px 2px 2px #02010a;
  width: 80%;
  margin-top: 0px;
}


.imagen-secundaria {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow:row wrap;
  background-color: #d5c75f;
  }

.imagen1,
.imagen2 {
  width: 50%;
}

.imagen1 img{
  display: block;
  margin: auto;
  box-shadow: 2px 2px 2px 2px #82c3a6;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
    transition: width 1s, height 1s, transform 1s;
  border: 2px;
}

.imagen2 img{
  display: block;
  margin: auto;
  box-shadow: 2px 2px 2px 2px #82c3a6;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
    transition: transform 2s;
}

.imagen1 img:hover{
   transform: rotate(10deg);
}

.imagen2 img:hover {
  transform: translate(20px,-5px);
}

.imagen-secundaria a{
  font-size: 20px;
}

.imagen1 a{
  margin-left: 45%;
}
.imagen2 a{
  margin-left: 45%;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
  flex-flow:  row wrap;
  width: 100%;
  text-align: center;
  display-webkit:flex;
  webkit-flex-flow:row wrap;
}

#contacto,#terminos,#redes-sociales,#derechos{
  width: 25%;
}
#contacto a:link{
  color: black;
}

#redes-sociales a:link{
  color: black;
}
#redes-sociales a:visited{
  color: black;
}
 footer h1{
   font-size: 27px;
 }

#contacto p{
  font-size: 13px;
}


.contenedor {
	margin: 5px, 5px,5px, 0px ;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
  justify-content: center;
  background-color: #d5c75f;
  }

.contenedor div {
  box-sizing: border-box;
  min-height: 200px;
  min-width: 100px;
  margin: 5px;

}

.contenedor img{
  box-shadow: 2px 2px 2px 2px #82c3a6;
}

.c1 {
	width: 30%;
  filter: blur(10px);

}
.c2 {
	width: 30%;
  filter: grayscale(100%);

}
.c3 {
	width: 30%;
  filter: sepia(90%);

}

.c4 {
	width: 30%;
  filter: grayscale(100%);

}
.c5 {
	width: 30%;

}
.c6 {
	width: 30%;
  filter: grayscale(100%);

}


@media (max-width: 900px){
  header h1{
    margin: auto;
    display: block;
    text-align: center;
    width: 100%;
  }
  header nav{
    margin: auto;
    display: block;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  #contacto{
    width: 100%;
    margin: auto;
    display: block;
  }
  #contacto,#terminos,#redes-sociales,#derechos {
    width:100%;

}
.imagen1,
.imagen2 {
  width: 100%;
}

.c1,.c2,.c3,.c4,.c5,.c6{
  width: 100%;
}

.contenedor img{
  margin: auto;
  display: block;
  width: 100%;
}

footer{
  text-align: left;
  padding-left: 5px;

}

}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
